{% extends 'header.html' %}
{% load comments %}
{% block page_style %}

<style>
input.submit-post, input.submit-preview{
    width:49%;
    border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:#ffff;background-color:#4f6a79;text-align:center;cursor:pointer;white-space:nowrap;
}

</style>


{% endblock page_style %}
{% block page_scripts %}
<script>
    // Accordion
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

</script>
{% endblock page_scripts %}

{% block content %}
<div class="w3-container">
    {% if user.is_authenticated %}
    <div class="w3-row-padding w3-small" >
        <div class="w3-card-4" >
            <div class="w3-container w3-padding">
            <br>
                <form method="POST">
                    {% csrf_token %} 
                    <input type="text" name="text" maxlength="1000" required="" id="id_text" style='width:100%' placeholder='Ask a Question'>
            </div>
            <br>
            <button type='submit' value='Create' class='w3-btn w3-blue-grey' style='width:100%'><i class=' fa fa-send '></i>
                Ask Question</button>
            </form>
            {% else %}
            <div class="w3-wide w3-card w3-padding w3-center w3-content" style="background-color: rgb(40,40,40);">
                Login to Post
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="w3-container w3-margin">
    {% for question in questions %}
    <div class="w3-col ">
        <div class="w3-container w3-card w3-round w3-margin" style="background-color: rgb(40,40,40);"><br>

            <span class="w3-right w3-opacity">{{question.modified}}</span>
            <h4>{{question.text | title}}</h4>
            <hr class="w3-clear">
            <p class='w3-right w3-opacity'>{{question.user.username}}</p>

            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>&nbsp;
                {{question.upvotes}}</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom viewAnswers" ><i class="fa fa-comment"></i>&nbsp;
                View Answers</button>
            <div style='display:none;'>
                
                <hr>
                <div class="w3-containter w3-animate-zoom" >
                    {% render_comment_list for question%} 
                </div>
                <hr>
                <div class="w3-containter w3-animate-zoom" style='padding-bottom:0'>
                    {%render_comment_form for question%}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
$('.viewAnswers').click(
function(){
    $(this).next().toggle();
}
)
</script>
{% endblock content %}