{% extends "header.html" %}
{% block content %}
<div class="w3-container">
    <div class="w3-col m9">
    {% for question in top_questions %}
        <div class="w3-container w3-card w3-round w3-margin" onclick="location.href= '{% url 'forums' %}' " style="background-color: rgb(40,40,40);"><br>
            <span class="w3-right w3-opacity">{{question.modified}}</span>
            <h4>{{question.text | title}}</h4>
            <hr class="w3-clear">
            <p class='w3-right w3-opacity'>{{question.user.username}}</p>

            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>&nbsp;
                {{question.upvotes}}</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>&nbsp;
                Answers</button>
        </div>
    {% endfor %}
    </div>
    <div class="w3-col m3">
    <h5 class="w3-opacity w3-center">Upcoming events:</h5>

    {% for event in top_events %}

    <div class="w3-card w3-round w3-center" style='background-color: rgb(40,40,40);' >
        <p class='w3-panel w3-theme-d1 w3-padding'><strong>{{event.event_name | title}}</strong></p>
        <table class="w3-table">
            <tr>
                <th>Time:</th>
                <td>{{event.timings}}</td>
            </tr>
            <tr>
                <th>Venue:</th>
                <td>{{event.venue}}</td>
            </tr>
        </table>
        <p><a href="{% url 'events'%}" class="w3-button w3-block w3-black" style="text-decoration:none;">Info</a></p>
    </div>
    
    {% endfor %}
</div>
{% endblock %}
