{% extends "header.html" %}
{% load static %}

{% block page_scripts %}
<script>
    window.onload = function() {
                   Particles.init({
                       selector: '.modular',
                       connectParticles: true,
                       color:['#fefefe']
                   });
                   };
</script>
{% endblock %}
{% block page_style %}
<style>
    #profile_cont{
        width:100%;
        height:400px;
    }
    #profile{
        height:200px;
        width:200px;
        border-radius:50%; 
        position: absolute;
        top:20%;
        left:45%;
    }
</style>
{% endblock %}


{% block post_nav %}
    <div id="profile_cont">
    <img id="profile" src="{{details.dp.url}}">    
    <canvas class="modular"></canvas>
    </div>
{% endblock %}

{% block content %}
    <p>{{request.user.username }}</p>
    <form method='POST'>
        {% csrf_token %}
            {{ profile }}
        <input type='submit'>
    </form>
{% endblock %}
