{% extends "header.html" %}
{% load static %}

{% block page_scripts %}
<script>
    window.onload = function() {
                   Particles.init({
                       selector: '.modular',
                       connectParticles: true,
                       color:['#fefefe']
                   });
                   document.getElementById('id_gender').className="form-control";
                   };
</script>
{% endblock %}
{% block page_style %}
<style>
    #profile_cont{
        width:100%;
        height:400px;
    }
    #profile{
        height:200px;
        width:200px;
        border-radius:50%; 
        position: absolute;
        top:20%;
        left:45%;
    }
    #id_gender{
        width:10%;
    }
</style>
{% endblock %}


{% block post_nav %}
    <div id="profile_cont">
    <img id="profile" src="{{details.dp.url}}">    
    <canvas class="modular"></canvas>
    </div>
{% endblock %}

{% block content %}
    <p>{{request.user.username }}</p>
    <form method='POST' enctype="multipart/form-data" class="form-group">
        {% csrf_token %}
        {% for field in profile %}
        <div class="form-group has-errors text-danger small">
            {{field.errors}}
        </div>
        <div class="form-group has-errors text-danger small">
        </div>
        <div class="form-group">
            {{field}}
        </div>
        {% endfor %}
        
        <input type='submit' value='Update' class="btn btn-success">
    </form>
{% endblock %}
