{% extends 'header.html' %}
{% block page_scripts %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
{% endblock %}
{% block content %}
<div class="w3-container">
    {% if user.is_authenticated %}
    <div class="w3-row-padding w3-small">
        <div class="w3-card-4">
            <div class="w3-container w3-padding">
                <form method="POST">
                    {% csrf_token %} {% for field in blogform %}
                    {{field.label_tag}} &nbsp;
                    {{ field}} &nbsp;
                    {% endfor %}
            </div>
            <button type='submit' value='Create' class='w3-btn w3-blue-grey' style='width:100%'><i class=' fa fa-send '></i>
                Create Event</button>
            </form>
            {% else %}
            <div class="w3-text-wide">
                Login to Post
            </div>
            {% endif %}
        </div>
    </div>
    <br>
    {% if posts %}
    <ul class="w3-ul s12 l6">
        {% for post in posts %}
        <li class="w3-card w3-half" style='padding:0; padding-right:9px;margin-bottom:15px;'>
            <ul class="w3-ul">
                <div class=" w3-blue-grey w3-center">
                    {{post.event_name | title}}
                </div>
                <li>
                    <label for="event_type" class="w3-small"> Description:</label> {{ post.description }}
                </li>
                <li>
                    <label for="event_type" class="w3-small"> Event Type: </label> &nbsp;{{ post.get_type_display| title}}
                </li>
                <li class='w3-right w3-opacity'>
                    {{post.user.username}} @
                    {{ post.pub_date }}
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Sad_Face_Emoji_large.png?v=1480481055" alt="sadface" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h4>No posts to display :(  </h4><br>
            <hr class="w3-clear">
            <a href="{% url 'home' %}">
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" style='width:100%'><i class="fa fa-home"></i>  Return Home </button>
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}