{% extends 'header.html' %}
{% block page_scripts %}
{% load static %}
<script>
  var modal = document.getElementById('myModal');
  var img = document.getElementById('profile');
  img.onclick = function(){
    modal.style.display = "block";
  }
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() {
    modal.style.display = "none";
  }
</script>
{% endblock %}

{% load comments %}
{% block content %}
    <div class='w3-card-4 w3-center w3-content w3-row w3-display-container' style="background-color: rgb(40,40,40);">
        <div class="w3-col m4 w3-padding-large">
            {% if profile.dp %}
            <img class='w3-img w3-hover-opacity' src='{{profile.dp.url}}'>
            {% else %}
            <img class='w3-img w3-hover-opacity' src = "{% static 'default.png'%}" style="width:100%">
            {% endif %}
        </div>
        <div class="w3-col m8 w3-display-right">
            <p class="w3-xlarge">{{profile.name}}</p>
            <p class="w3-large"><i>{{profile.post}}</i></p>
            <hr style="width: 50%;float:right;margin-right:25%;">
            <table class="w3-table" style="width:40%;float:right;margin-right:25%;">
                <tr>
                    <th><label for = 'likes'><i>Likes:</i></label></th>
                    <td><div id="likes" style="display:inline-block">{{profile.likes}}</div> <i class="fa fa-thumbs-up w3-btn" style="padding-left: 5px;padding-right: 5px;" id="likeBtn"></i></td>
                </tr>
                <tr>
                    <th><label for='rating'></label><i>Rating:</i></label></th>
                    <td><div id="rating" style="display:inline-block">{{profile.rating}} </div> <i class="fa fa-chevron-up w3-btn" style="padding-left: 5px;padding-right: 5px;" id="upvoteBtn"></i></td>
                </tr>
                <tr>
                    <th><label for='campus'><i>Campus:</i></label></th>
                    <td>{{profile.get_campus_display}}</td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        $("#upvoteBtn").click(function() {
            $.ajax({
                type: 'GET',
                url: '{{request.path}}upvote/',
                success: function(response) {
                    $("#rating").text(response['likes']);
                },
            });
        });
        $("#likeBtn").click(function() {
            $.ajax({
                type: 'GET',
                url: '{{request.path}}likes/',
                success: function(response) {
                    $("#likes").text(response['likes']);
                },
            });
        });
    </script>
    <br>
    <div class = 'w3-card-4 w3-content w3-center' style="background-color: rgb(40,40,40);">
        <br>
        {% if user.is_authenticated %}
        {% render_comment_form for profile %}
        {% else %}
        <p>Login to be able to comment.</p>
        {% endif %}
        <br>
    </div>
    {% get_comment_count for profile as comment_count  %}
        <br>
        <p class="w3-center">No. of comments: {{ comment_count }}</p>
       {% get_comment_list for profile as comlist %}
    <hr class="w3-content">
    <ul class="w3-ul w3-card-4 w3-content">   
        {% for comment in comlist %}
            <li class = 'w3-hover-green' style="background-color: rgb(35,35,35);">
                <p class="w3-wide"><i>{{comment.name}}:</i></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment}}</p>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
